<!DOCTYPE html>
<html>
<head>
    <title>CRUD Table</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/frontend/web/js_new/bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css">

    <script language="javascript" src="/frontend/web/js_new/jq-3.1.1/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/frontend/web/js_new/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/frontend/web/js_new/bootstrap-validator/dist/validator.js"></script>
    <link rel="stylesheet" type="text/css" href="/frontend/web/js_new/bootstrap-select/dist/css/bootstrap-select.min.css" />
<script type="text/javascript" src="/frontend/web/js_new/bootstrap-select/dist/js/bootstrap-select.min.js"></script>




<script type="text/javascript" src="moment-2.17.1/min/moment.min.js"></script>
<script type="text/javascript" src="moment-2.17.1/locale/ru.js"></script>
<script type="text/javascript" src="bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" type="text/css">

<link rel="stylesheet" type="text/css" href="/frontend/web/scheduler/weekline/styles/jquery.weekLine.css" />
<link rel="stylesheet" type="text/css" href="/frontend/web/scheduler/weekline/styles/cleanslate.css" />
<script type="text/javascript" src="/frontend/web/scheduler/weekline/scripts/jquery.weekLine.js"></script>

<script src="/frontend/web/scheduler/timedropper/timedropper.js"></script>
<link rel="stylesheet" type="text/css" href="/frontend/web/scheduler/timedropper/timedropper.css"> 


<script src="/frontend/web/scheduler/later/later.min.js" type="text/javascript"></script>
<script src="/frontend/web/scheduler/prettycron/prettycron.js" type="text/javascript"></script>

<script>


$(function() {
    

   

});

var result_field_id = "#tt1";

</script>



</head>
<body>
  


<p><a class="btn btn-success signup" data-userid="22" >t</a></p>
<input type='text' class="form-control" id="tt1" />

<div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       <div class="modal-body">

        {% include 'modal_cron_expression_helper.twig' %}

       </div>
     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





</body>
</html>

